<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Direction</title>
</head>
<body>
    <div th:fragment="directions-table">
        <div class="row">
            <div class="col-md-12">
                <p class="h3 text-center" th:text="#{nav.menu.ucnk.direction}">Directions</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table id="directions" class="table display">
                    <thead>
                    <tr>
                        <th><div class="checkbox"><input type="checkbox"></div></th>
                        <th th:text="#{direction.ucnk.table.requestNumber}">#</th>
                        <th th:text="#{direction.ucnk.table.student}">Student</th>
                        <th th:text="#{direction.ucnk.table.method}">Method</th>
                        <th th:text="#{direction.ucnk.table.sectors}">Sectors</th>
                        <th th:text="#{direction.ucnk.table.hours}">Hours</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="direction : ${directions}">
                        <td><form class="form-inline">
                            <div class="checkbox">
                                <input type="checkbox" class="lvg-dt-checkbox-item">
                            </div>
                        </form></td>
                        <td th:text="${direction.requestNumber}">#Num</td>
                        <td th:text="${direction.student}">Student</td>
                        <td th:text="${direction.method}">Method</td>
                        <td> <span th:each="sector : ${direction.sectors}"
                                   th:text="${sector.number+' '}"></span> </td>
                        <td th:text="${direction.learnHours}">Hours</td>

                    </tr>
                    </tbody>
                </table>
                <script th:inline="javascript">
                    $(document).ready( function () {
                    var initButton = function(){
                       button = $('a.dt-button');
                       button.removeClass('dt-button');
                       button.addClass('btn btn-primary btn-sm lvg-dt-button');
                       button.attr('style','margin-right:5px; margin-bottom:5px');

                       delButton = $('.lvg-dt-button-delete').addClass('disabled');
                    };
                    var updateButtonDiv = function(){
                        div = $('div.dt-buttons');
                        div.addClass('form form-inline');
                        div.append("<div id='dt-buttons-holder' class='form-inline'>");
                    };
                    var btAddName = '[(#{button.add})]';
                    var btDeleteName = '[(#{button.delete})]';
                    $('#directions').DataTable({
                            dom: "lBfrtip",
                            language:[(#{data.table.language})],
                            buttons:[ { text:btAddName },
                                      {text:btDeleteName, className:'lvg-dt-button-delete'}  ]
                        });
                    initButton();

                    } );
                </script>
            </div>
        </div>
    </div>

</body>
</html>